.slider-container{
    width: 80%;
    margin: auto;
    padding-top: 35px;
}

.heading{
    width:80%;
    margin: auto;
    font-weight:bold;
}

.container{
    padding-top: 45px;
    height: 100%;
    /* border-right: 1px solid #cac3c3; */
}

.button-holder{
    width: 27%;
    margin: auto;
    margin-top: 25px;
}

.button-holder button{
    background-color: #1976d2;
    border-radius: 10px;
    width:80px;
}

.slider-label{
    margin: auto;
    width: 20%;
}